.header {
    min-width: $mobile;
    display: flex;
    align-items: center;
    background-color: var(--white-bg);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 72px;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-right: 76px;
    }

    &__connection {
        display: none;

        @media screen and (min-width: $table) and (max-width: 1157px) {
            display: flex;
            flex-direction: column;
            align-items: end;
            font-size: 12px;
        }

        @media screen and (min-width: $desktop) {
            display: flex;
        }
    }

    &__button {
        display: none;

        @media screen and (max-width:767px) {
            display: flex;
        }
    }
}

.button-menu {
    border: none;
    background-color: var(--white-bg);
    align-items: center;
    height: 50px;
    width: 50px;
}

.icon-menu {
    width: 50px;
    height: 50px;
}

.mobile-menu {
    z-index: 2;
    opacity: 1;
    transform: translateY(0%);
    transition: transform 250ms linear, opacity 250ms linear;

    &__container {
        width: $mobile;
        padding-left: 40px;
        padding-right: 35px;
        padding-bottom: 40px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    position: fixed;
    background-color: var(--white-bg);
    height: 100%;
    min-width: $mobile;
    width: 100%;
    left: 0;
    top: 0;

    &_is-hidden {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);

    }

    &__nav-mobile {
        margin-top: 80px;
        display: flex;
    }
}

.nav-mobile {


    &__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__link {
        font-size: 36px;
        font-weight: 700;
        color: var(--dark-color);

        &_active {
            color: var(--pressed-state-color);
        }
    }
}

.connection-mobile {

    &__item {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__link {
        &_mail {
            color: var(--primary-brand-color);
            font-size: 36px;
            font-weight: 700;

        }

        &_tel {
            color: var(--text-color);
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.nav {

    &__page {
        display: none;
        margin-left: 76px;

        @media screen and (min-width: $table) {
            display: flex;
        }

        @media screen and (max-width: 1157px) {
            margin-left: 120px;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: var(--dark-color);

    &__web {
        color: var(--primary-brand-color);
        margin: 0;
    }
}

.page {

    &__link {
        display: block;
        padding-top: 27px;
        padding-bottom: 27px;
        color: var(--dark-color);
        font-weight: 500;

        &:hover,
        &:focus {
            color: var(--pressed-state-color);
        }

        &_active {
            color: var(--pressed-state-color);
            padding-bottom: 0px;

            &::after {
                margin-top: 23px;
                content: '';
                display: block;
                width: 100%;
                height: 4px;
                background-color: var(--pressed-state-color);
                border-radius: 2px;
            }
        }
    }
}

.connection {

    &__item {
        @media screen and (min-width: $table) and (max-width: 1157px) {
            &:not(:last-child) {
                margin-bottom: 12px;
            }


        }

        @media screen and (min-width: $desktop) {

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }


    &__link {
        @media screen and (min-width: $desktop) {
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
        }


        &:hover,
        &:focus {
            color: var(--pressed-state-color);
        }
    }
}